body {
    margin-top: 50px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('http://res.cloudinary.com/lmn/image/upload/c_limit,e_sharpen:150,f_auto,fl_lossy,h_360,q_80,w_640/v1/gameskinnyc/e/s/p/esports-banner-2ab5e.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('../images/Logo.png') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
    display: block;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}
/* fooooooooooobar */

footer{
    position: fixed;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

/* fakin slider */

#bs-example-navbar-collapse-1 a{
    color: #34B5BA;
}
#bs-example-navbar-collapse-1 a:hover{
    color: #30FFE2;
}
#font-color{
    color: #34B5BA;
}
#font-color:hover{
    color: #30FFE2;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100%;
}
.bx-viewport, .bx-wrapper{
    position:relative;
    width:absolute;
    height:100% !important;
    top:0;
    left:0;
}
.bxslider, .bxslider li{
    height: 100% !important;
    max-width: 100% !important;
}
.bxslider li{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport{
    border: none !important;
}
.slider-textbox{
    display:block;
    position:absolute;
    background-color:white;
    opacity:80%;
    width:30%;
    float:center;

}

.upis form, .fakin-alert{
    padding-top: 20px;
}

.footer-links a{
    color: #34B5BA !important;
}

.footer-links a:hover{
    color: #30FFE2 !important;
}

#footer-logo{
    margin: 0 auto;
    display: block;
}

.footer-button:hover{
    background-color: #30FFE2 !important;
}

.footer-icons a:hover{
    background-color: #30FFE2 !important;
}

.footer-links span{
    color: #34B5BA !important;
}

.footer-right p{
    color: #34B5BA !important;
}

input[type=text], textarea {
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #30FFE2;
  border: 1px #30FFE2;
}

textarea[id=message], textarea {
  outline: none;
  border: 1px solid #DDDDDD;
}
 
textarea[id=message]:focus, textarea:focus {
  box-shadow: 0 0 5px #30FFE2;
  border: 1px #30FFE2;
}



