body {
    margin-top: 50px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fixed-height {
	background: url('../images/Logo.png') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
  display: block;
}

section {
  padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}
/* fooooooooooobar */
/*for large screens */
footer {
  height: 300px;
  margin: 0 auto;
  clear: both;
  padding: 2em;
  position: relative;
  top: 100px;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

/* fakin slider */

#bs-example-navbar-collapse-1 a{
    color: #34B5BA;
}
#bs-example-navbar-collapse-1 a:hover{
    color: #30FFE2;
}
#font-color{
    color: #34B5BA;
}
#font-color:hover{
    color: #30FFE2;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100%;
}
.bx-viewport, .bx-wrapper{
    position:relative;
    width:absolute;
    height:100% !important;
    top:0;
    left:0;
}
.bxslider, .bxslider li{
    height: 100% !important;
    max-width: 100% !important;
}
.bxslider li{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport{
    border: none !important;
}
.slider-textbox{
    display:block;
    position:absolute;
    background-color:white;
    opacity:80%;
    width:30%;
    float:center;

}

.upis form, .fakin-alert{
    padding-top: 20px;
}

.footer-links a{
    color: #34B5BA !important;
}

.footer-links a:hover{
    color: #30FFE2 !important;
}

#footer-logo{
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    margin-top: -30px;
}

.footer-button:hover{
    color: #33383b !important;
    background-color: #30FFE2 !important;
}

.footer-icons a:hover{
    color: #33383b !important;
    background-color: #30FFE2 !important;
}

.footer-links span{
    color: #34B5BA !important;
}

.footer-right p{
    color: #34B5BA !important;
}

input[type=text], textarea {
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #30FFE2;
  border: 1px #30FFE2;
}

textarea[id=message], textarea {
  outline: none;
  border: 1px solid #DDDDDD;
}
 
textarea[id=message]:focus, textarea:focus {
  box-shadow: 0 0 5px #30FFE2;
  border: 1px #30FFE2;
}

input[type=email], textarea {
  outline: none ;
  border: 1px solid #DDDDDD ;
}
 
input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px #34B5BA ;
  border: 1px #34B5BA ;
}

input[type=password], textarea {
  outline: none ;
  border: 1px solid #DDDDDD ;
}
 
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px #34B5BA ;
  border: 1px #34B5BA ;
}

select[class=form-control], textarea {
  outline: none ;
  border: 1px solid #DDDDDD ;
}
 
select[class=form-control]:focus, textarea:focus {
  box-shadow: 0 0 5px #34B5BA ;
  border: 1px #34B5BA ;
}

/* slike igrica */

#img-blur:hover{
  z-index: -1;
  transition: 0.4s -webkit-filter linear;
  -webkit-filter: blur(3px);
}
#dota2, #LOL, #CSGO, #HS, #SC2{
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 150px; height: 150px;
}

#dota2{
  margin-left: 670px;
  margin-top: -40px;
}

#LOL{
  margin-left: 700px;
  margin-top: 200px;
}

#CSGO{
  margin-left: 480px;
  margin-top: 310px;
}

#HS{
  margin-left: 300px;
  margin-top: 150px;
}

#SC2{
  margin-left: 370px;
  margin-top: -60px;
}


.slike{
  margin: 0 auto;
  display: none;
  width:100%;
}

.slike img{
  margin: 15px auto;
}


.onama{
  margin-top: 20px;
}

.NoviGod{
  width: 200px; height: 200px;
  margin-top: 20px;
  margin-left: 50px;
}

.TheChosenOne{
  margin-top: 20px;
  width: 200px; height: 200px;
  margin-left: 50px;
}

.onama a:hover{
  color: #30FFE2 !important;
}



